<!DOCTYPE html>
<html lang="en">

<head>
  <title>FoodStrap</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header logobg">
        <a class="navbar-brand" href="/"><img class="logoimage" src="img/logo.JPG"></a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">HOME</a></li>
        <li><a href="/problem">THE PROBLEM</a></li>
        <li class="active"><a href="/donors">DONATE FOOD</a></li>
        <li><a href="/shelters">RECIEVE FOOD</a></li>
        <li><a href="/volunteers">VOLUNTEER</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signin">SIGN IN</a></li>
        <li><a href="/setting">SETTINGS</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="item">
      <img src="img/donatefood.jpg" alt="Donate Food" style="width:100%;">
    </div>
    <br>
    <br>
    <blockquote>
      <p>The simplest acts of kindness are by far more powerful then a thousand heads bowing in prayer.</p>
      <footer>Mahatma Gandhi</footer>
    </blockquote>

    <div class="row">
      <p>
        Many families in our area need a little help putting food on the table. They shouldn’t have to choose between
        paying rent or buying healthy groceries. You can help by making food donations. Your support is greatly needed
        and appreciated.<br>
        In the US, food waste is estimated at between 30-40% of our food supply, estimated at around 72 billion-133
        billion pounds of wasted food each year, according to the USDA.<br>
        Rather than toss unsold breads, pastries, and produce to a dumpster, box them up for local nonprofits and those
        in need.
      </p>
      <div class="row" align="center">
        <br>
        <strong color="#1e1408"> If you have food you'd like to donate to a local shelter, sign up now!</strong><br>
        <a href="/signup" class="vertify-booking"><input type="submit" value="Sign Up Now!" class="submit" id="submit"
            name="submit" /></a>
        <br>

      </div>
      <div class="row">
        From the Michelin-starred, national restaurant chains to world-wide mega coffee shops that proliferate every
        street corner in America, check out these establishments that are committed to cut down on food waste by
        donating at the end of the day.
        <br><br>
        <dl class="row" align = "center">
          <% for(var item in restList) { %>
          <dd class="col-sm-3"> <%= restList[item].name %></dd>
          <dd class="col-sm-2"> <%= restList[item].addr %> </dd>
          <dd class="col-sm-6"> <%= restList[item].contact %> </dd>
          <% } %>
        </dl>
        <div>
          <br>
          <br>

        </div>
      </div>



    </div>
  </div>

</body>

</html>