

  <footer class="footer mt-auto py-3 bggreyfooter verticalAlignCenter">
    <div class="container verticalAlignCenter topmarginFooter">
    <br>©
        <script>
          document.write(new Date().getFullYear())
        </script> Created by Parvathy & Mayura for CMPE280 Web UI Design     
    </div>
  </footer>