<!DOCTYPE html>
<html lang="en">

<head>
  <title>FoodStrap</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>

<body>
  <%- include nav.ejs %>
  <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
          <img src="img/foodstrap_banner.jpg" alt="FoodStrap" style="width:100%;">
        </div>
        <div class="item">
          <img src="img/problem.jpg" alt="Problem" style="width:100%;">
        </div>
        <div class="item">
          <img src="img/donatefood.jpg" alt="Donate Food" style="width:100%;">
        </div>
        <div class="item">
          <img src="img/recievefood.jpg" alt="Recieve Food" style="width:100%;">
        </div>
        <div class="item">
          <img src="img/volunteer.jpg" alt="Volunteer" style="width:100%;">
        </div>
      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <br>
    <br>
    <blockquote>
      If you can't feed a hundred people, then feed just one!
      <footer>Mother Teresa</footer>
    </blockquote>
    
    <br>
    <div class="row">
      <strong> What are we?</strong>
      <p>We provide an alternative to discarding surplus wholesome food by linking food service donors with surplus food to local hunger relief agencies. We do this by creating and maintaining an efficient communication and reporting network that links available sources of food to those in need through these existing charitable organizations.</p>
      <br>
      <p>
        <strong> What do we do to help the community?</strong>
        <br>
We help people who are having a financial crisis. They may have lost their job, or had a medical emergency, or their car may have broken down. We help the people who are needy or who are poor and need some help getting food. People that go hungry for a long period of time will change as a person completely. More than seventy percent of people go hungry in the world. Going hungry for a certain period of time damages your mental health and physical health. When it damages your mental health it causes you to have negative thoughts about things. Going hungry also changes your physical health, it causes you to lose weight and it will mess up your respiratory system.
<br>
<br>
<strong>From where do we get our food? </strong>
<br>
They have few sources from where we get the food. It can be restaurants who have surplus food, caterers who have leftover food, individual donations, local businesses around the area.
      </p>
    </div>
    <div class="row">
      <div class = "sectionDivider33">
        <h4>
          Share your food
        </h4>
        <p>
          Many families in our area need a little help putting food on the table. They shouldn’t have to choose between
          paying rent or buying healthy groceries. You can help by making food donations. Your support is greatly needed
          and appreciated.
        </p>
      </div>
      <div class = "sectionDivider33">
        <h4>
          Donate Surplus food
        </h4>
        <p>
          Instead of throwing away surplus food that is safe to eat, donate to local hunger relief organizations. This delivers a triple benefit: Food stays out of landfills to prevent environmental impact, nonprofits benefit from the donations and  restaurants give back to local communities.
        </p>
      </div>
      <div class = "sectionDivider33">
        <h4>
          Recieve food
        </h4>
        <p>
          The quality, wholesome prepared food donated from restaurants can serve those who experience hunger. If you have to choose between
          paying rent or buying healthy groceries, we can help.
        </p>
        </div>
      </div>
<br>
<br>


      </div>    
    </div>
    
</body>

</html>