<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="img/logo.JPG"></a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">THE PROBLEM</a></li>
        <li><a href="#">DONATE FOOD</a></li>
        <li><a href="#">SHELTERS</a></li>
        <li><a href="#">VOLUNTEER</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign In</a></li>        
      </ul>
    </div>
  </nav>