<!DOCTYPE html>
<html lang="en">

<head>
    <title>FoodStrap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header logobg">
            <a class="navbar-brand" href="/"><img class = "logoimage" src="img/logo.JPG"></a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">HOME</a></li>
            <li><a href="/problem">THE PROBLEM</a></li>
            <li><a href="/donors">DONATE FOOD</a></li>
            <li class="active"><a href="/shelters">RECIEVE FOOD</a></li>
            <li><a href="/volunteers">VOLUNTEER</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/signin">SIGN IN</a></li>    
            <li><a href="/setting">SETTINGS</a></li>             
          </ul>
        </div>
      </nav>
    
      <div class="container">
        <div class="item">
          <img src="img/recievefood.jpg" alt="Donate Food" style="width:100%;">
        </div>
        <br>
        <br>
        <blockquote>
          <p>The simplest acts of kindness are by far more powerful then a thousand heads bowing in prayer.</p>
          <footer>Mahatma Gandhi</footer>
        </blockquote>
        
        <div class="row">    
          <p>
            Last year, almost 41 million tons of food were generated in the United States. While Americans dispose of millions of tons of food, the U.S. Department of Agriculture estimates that 11.8 percent of American households - about 15 million households - had difficulty providing enough food for all their members due to a lack of resources. In many cases, the food tossed into our nation’s landfills is wholesome, edible food.
          </p>
          <div class="row" align="center">
            <br>
            <strong color = "#1e1408"> If you need food assistance for your shelter, sign up now!</strong><br>
            <a href="/signup" class="vertify-booking"><input type="submit" value="Sign Up Now!" class="submit" id="submit"
                name="submit" /></a>
                <br>
               
          </div>
          
    
    
    
      </div>
      </div>
     
   
</body>

</html>